#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

#build: $(PYVERS:%=build-python%)
#	touch $@
#build-python%:
#	python$* setup.py build
#	touch $@
#
#install: build $(PYVERS:%=install-python%)
#install-python%:
#	python$* setup.py install --root $(CURDIR)/debian/python-kivy
#

DEB_DESTDIR = $(CURDIR)/debian/python-kivy-tmp
